body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #e1dede;
}


header {
    background: #aa171f;
    padding: 20px;
    text-align: center;
    color: white;
}


header input {
    padding: 10px;
    width: 60%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
}


nav {
    display: flex;
    justify-content: center;
    background: #4f1418;
    padding: 10px;
    gap: 10px;
}


nav button {
    padding: 8px 15px;
    border: none;
    background: #ddddddb4;
    border-radius: 5px;
    cursor: pointer;
}


main {
    display: flex;
    padding: 20px;
}


.grid {
    flex: 3;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
}




cart {
    flex: 1;
    background: white;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
}