body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}


header {
    background: #aa171f;
    padding: 20px;
    text-align: center;
    color: white;
}


header input {
    padding: 10px;
    width: 60%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
}


nav {
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px;
    gap: 10px;
}


nav button {
    padding: 8px 15px;
    border: none;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
}


main {
    display: flex;
    padding: 20px;
}


.grid {
    flex: 3;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
